<h1>GAMES</h1>

<%= link_to "Create User", new_game_path, class: "btn btn-success" %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Number</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
    <tr>
      <td><%= game.id %></td>
      <td><%= game.number %></td>
      <td>
        <%= link_to "Show", game_path(game), class: "btn btn-info" %>
        <%= link_to "Edit", edit_game_path(game), class: "btn btn-success" %>
        <%= link_to "Destroy", game_path(game), method: :delete, class: "btn btn-warning" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
