<h1>MATCHES</h1>

<div class="input-group">
<%= form_for(match = Match.new) do |f| %>
    <%= f.fields_for 'match_teams[]', match.match_teams.build do |match_team| %>
      <%= f.label "team 1" %>
      <%= match_team.collection_select :team_id, Team.all, :id, :name, {}, {:class=>'form-control'} %>
    <% end %>
    <%= f.fields_for 'match_teams[]', match.match_teams.build do |match_team| %>
      <%= f.label "team 2" %>
      <%= match_team.collection_select :team_id, Team.all, :id, :name, {}, {:class=>'form-control'} %>
    <% end %>
  <%= f.submit "Create Match", class: "btn btn-primary" %>
<% end %>
</div>

<div class="group">
  <% @matches.each do |match| %>
  <h4 class="display-6">Match: <%= match.id %></h1>
  <% team_ids = match.match_teams.pluck(:team_id) %>
  <% teams = Team.find_all_by_id(team_ids) %>
  <h5 class="display-6">Team: <%= teams.first.name %> vs <%= teams.last.name %></h1>

  <div class="container">
    <div class="row">
      <% [1,2,3].each do |number| %>
      <div class="col-4">
        <% game = match.games.find_by_number(number) %>
        <% if game.nil? %>
          <%= link_to "Create Game #{number}", new_game_path(game_number: number, match_id: match.id), class: "btn btn-success" %>
        <% else %>
          <p> Game <%= number %> </p>
          <% game.game_teams.each do |game_team| %>
            <p> Team <%= Team.find(game_team.team_id).name %> has score <%= game_team.score %>  </p>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
